@{
    ViewData["Title"] = "Home Page";
}
<!--HOME PAGE:-->
<!--INTRODUCING AGRI-ENERGY TO USERS AND WHO WE ARE PAGE:-->
<div class="text-center">
    <h1 class="display-4">WELCOME TO AGRI-ENERGY CONNECT PLATFORM!</h1>
    <p class="lead">A platform has been created with one main objective: to connect farmers with energy producers, supporting sustainable development
        and growth and the tenet that this tool will be used as a fundamental bridge between people and entities from the field of agriculture and 
        those in the field of energy production, with the aim of sustainable and environmental development, and therefore for development with the
        aim of collaborating more effectively, sharing knowledge, and spreading innovation in the fields of agriculture and energy in order to achieve
        a more sustainable future.</p>
</div>

<!--END OF FILE-->